# dependencies
/node_modules
.env
package-lock.json
*.log
*.gz
*.zip
/public/uploads/*
.well-known
.well-known/*
/phpmyadmin
public/apk/app-release.apk
public/apk/serviceAccountKey.json
credentials.json
