{{!< main}}
<div class="main_layout">
    {{> admin-sidebar }}
    <div class="content">   
        {{> admin-header }}
        <!-- other content -->
        <div class="user_mgmnt_page common_table">
            <div class="user_detail_page">
                <button class="back_btn"><a href="/admin/recharge-management/list"><i class="fa fa-arrow-left"></i></a>
                    Edit Admin Commission
                </button>
            </div>

            <div class="addnew_user_form">
                <form action="/admin/recharge-management/update-service-fees" method="POST" class="common_form" id="edit-service-fees-form">
                    <div class="row">
                        <div class="col-sm-6 col-12">
                            <div class="form-group">
                                <label for="name">Admin Commission Percentage</label>
                                <input name="fees_percentage" oninput="this.value=this.value.replace(/[^0-9]/g,'');" type="text" class="form-control" id="fees_percentage" aria-describedby="" placeholder="Enter service fees percentage" {{#if serviceFeesData }} value="{{serviceFeesData.fees_percentage}}" {{/if}} >
                            </div>
                        </div>
                        
                    </div>
                    <button type="submit" class="btn custom_btn">Update</button>
                </form>
            </div>  
        </div>
    </div>
</div>
{{> footer-script }}
<script>
    $(document).ready(function() {
        $('#edit-service-fees-form').validate({
            rules: {
                fees_percentage: {
                    required: true,
                    min: 1,
                    max: 100
                },
            },
            messages: {
                fees_percentage: {
                    required: 'Please enter admin commission percentage.',
                    min: "Please enter a number greater than or equal to 1",
                    max: "Please enter a number less than or equal to 100"
                },
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            },
            submitHandler: function(form) {
                form.submit();
            }
        });
    });
</script>