{{!< main}}
<div class="main_layout">
    {{> admin-sidebar }}
    <div class="content">   
        {{> admin-header }}
        <!-- other content -->
         <div class="category_management_page common_table">
            <div class="add_user">
                <a href="" class="add_user_btn"><i class="fa fa-circle-plus"></i> </i>Add New Category</a>
            </div>
            <table id="category-management" class="display table cmn_table" style="width:100%">
                <thead>
                    <tr>
                        <th>Sr. No</th>
                        <th>Category Name</th>
                      
                        <th>Active?</th>
                        <th style="width:150px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01</td>
                        <td>Breakup</td>
                        <td>
                            <label class="radio" for="radio__toggle4">
                                <input class="radio__toggle" id="radio__toggle4" type="checkbox">
                              </label>
                        </td>
                        <td>
                            <a href="#" class="action_btn"><i class=" fa fa-pen"></i></a>
                            <a href="#" class="action_btn"><i class="fa fa-trash-can"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>02</td>
                        <td>Loneliness</td>
                        <td>
                            <label class="radio" for="radio__toggle4">
                                <input class="radio__toggle" id="radio__toggle4" type="checkbox">
                             
                              </label>
                        </td>
                        <td>
                            <a href="#" class="action_btn"><i class=" fa fa-pen"></i></a>
                            <a href="#" class="action_btn"><i class="fa fa-trash-can"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td>Divorced</td>
                        <td>
                            <label class="radio" for="radio__toggle4">
                                <input class="radio__toggle" id="radio__toggle4" type="checkbox">
                             
                              </label>
                        </td>
                        <td>
                            <a href="#" class="action_btn"><i class=" fa fa-pen"></i></a>
                            <a href="#" class="action_btn"><i class="fa fa-trash-can"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>04</td>
                        <td>Loneliness</td>
                        <td>
                            <label class="radio" for="radio__toggle4">
                                <input class="radio__toggle" id="radio__toggle4" type="checkbox">
                             
                              </label>
                        </td>
                        <td>
                            <a href="#" class="action_btn"><i class=" fa fa-pen"></i></a>
                            <a href="#" class="action_btn"><i class="fa fa-trash-can"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>05</td>
                        <td>Breakup</td>
                        <td>
                            <label class="radio" for="radio__toggle4">
                                <input class="radio__toggle" id="radio__toggle4" type="checkbox">
                             
                              </label>
                        </td>
                        <td>
                            <a href="#" class="action_btn"><i class=" fa fa-pen"></i></a>
                            <a href="#" class="action_btn"><i class="fa fa-trash-can"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>06</td>
                        <td>Breakup</td>
                        <td>
                            <label class="radio" for="radio__toggle4">
                                <input class="radio__toggle" id="radio__toggle4" type="checkbox">
                             
                              </label>
                        </td>
                        <td>
                            <a href="#" class="action_btn"><i class=" fa fa-pen"></i></a>
                            <a href="#" class="action_btn"><i class="fa fa-trash-can"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>07</td>
                        <td>Loneliness</td>
                        <td>
                            <label class="radio" for="radio__toggle4">
                                <input class="radio__toggle" id="radio__toggle4" type="checkbox">
                             
                              </label>
                        </td>
                        <td>
                            <a href="#" class="action_btn"><i class=" fa fa-pen"></i></a>
                            <a href="#" class="action_btn"><i class="fa fa-trash-can"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>08</td>
                        <td>Breakup</td>
                        <td>
                            <label class="radio" for="radio__toggle4">
                                <input class="radio__toggle" id="radio__toggle4" type="checkbox">
                             
                              </label>
                        </td>
                        <td>
                            <a href="#" class="action_btn"><i class=" fa fa-pen"></i></a>
                            <a href="#" class="action_btn"><i class="fa fa-trash-can"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>09</td>
                        <td>Loneliness</td>
                        <td>
                            <label class="radio" for="radio__toggle4">
                                <input class="radio__toggle" id="radio__toggle4" type="checkbox">
                             
                              </label>
                        </td>
                        <td>
                            <a href="#" class="action_btn"><i class=" fa fa-pen"></i></a>
                            <a href="#" class="action_btn"><i class="fa fa-trash-can"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Breakup</td>
                        <td>
                            <label class="radio" for="radio__toggle4">
                                <input class="radio__toggle" id="radio__toggle4" type="checkbox">
                             
                              </label>
                        </td>
                        <td>
                            <a href="#" class="action_btn"><i class=" fa fa-pen"></i></a>
                            <a href="#" class="action_btn"><i class="fa fa-trash-can"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>        
        </div>
    </div>
</div>
{{> footer-script }}