{{!< main}}
<div class="main_layout">
    {{> admin-sidebar }}
    <div class="content">   
        {{> admin-header }}
        <!-- other content -->
        <div class="common_table">
            <div class="user_detail_page">
                <button class="back_btn"><i class="fa fa-arrow-left"></i>
                   Change Password
                </button>
            </div>

            <div class="addnew_user_form">
                <form action="/admin/change-password-post" method="POST" id="change-password-form" class="common_form">
                    <div class="row">
                        <div class="col-sm-6 col-12">
                            <div class="form-group password">
                            <label for="Password">Current Password</label>
                            <input type="password" name="current_password" class="form-control" id="current_password" placeholder="Password">
                             <span toggle="#current_password" class="field-icon toggle-password">
                                    <span class="material-icons"><i class="fa fa-eye"></i></span>
                            </span>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-12">
                            <div class="form-group password">
                                <label for="Password">New Password</label>
                                <input type="password" name="new_password" class="form-control" id="new_password" placeholder="Password">
                                <span toggle="#new_password" class="field-icon toggle-password">
                                    <span class="material-icons"><i class="fa fa-eye"></i></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                         <div class="col-sm-6 col-12">
                            <div class="form-group password">
                                <label for="Password">Confirm New Password</label>
                                <input type="password" name="confirm_password" class="form-control" id="confirm_password" placeholder="Password">
                                <span toggle="#confirm_password" class="field-icon toggle-password">
                                    <span class="material-icons"><i class="fa fa-eye"></i></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <button class="btn custom_btn">Update</button>
                </form>
            </div>  
        </div>
    </div>
</div>
{{> footer-script }}
<script>
    $(document).ready(function() {
        $('#change-password-form').validate({
            rules: {
                current_password: {
                    required: true,
                },
                new_password: {
                    required: true,
                    pwcheck: true,
                },
                confirm_password: {
                    required: true,
                    equalTo: "#new_password",
                }
            },
            messages: {
                current_password: {
                    required: "Please enter current password",
                },
                new_password: {
                    required: "Please enter new password",
                    pwcheck: "Password must contain at least 8 characters - including uppercase, lowercase, special characters and numbers.",
                },
                confirm_password: {
                    required: "Please enter confirm password",
                    equalTo: "New password and confirm password must be same",
                }
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element);
            },
            submitHandler: function(form) {
                form.submit();
            }
        });
    });
</script>