{{!< main}}
<div class="main_layout">
    {{> admin-sidebar }}
    <div class="content">   
        {{> admin-header }} 
        <!-- other content --> 
         <div class="charge_management_page common_table">
            
           
            <div class="add_user">
                 <a href="#" class="add_user_btn">Add Charges</a>
                <a href="#" class="add_user_btn"><i class="fa fa-money-bill"></i> </i>GST Charge</a>
            </div>
            <table id="charge-management" class="display table cmn_table" style="width:100%">
                <thead>
                    <tr>
                        <th>Listener</th>
                        <th>Service</th>
                      
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Default</td>
                        <td>
                            <div class="service_table">
                                <i class="fa fa-message"></i>
                                <i class="fa fa-phone"></i>
                                <i class="fa fa-video"></i>
                            </div>
                        </td>
                        <td>
                            <div class="prices">
                                <p class="text">Rs. 10.00 Per Min</p>
                                <p class="text">Rs. 10.00 Per Min</p>
                                <p class="text">Rs. 10.00 Per Min</p>
                            </div>
                        </td>
                        
                        <td>
                            <a href="#" class="action_btn"><i class=" fa fa-pen"></i></a>
                        </td>
                    </tr>
                   <tr>
                        <td>Jahanvi Kapoor</td>
                        <td>
                            <div class="service_table">
                                <i class="fa fa-message"></i>
                                <i class="fa fa-phone"></i>
                                <i class="fa fa-video"></i>
                            </div>
                        </td>
                        <td>
                            <div class="prices">
                                <p class="text">Rs. 10.00 Per Min</p>
                                <p class="text">Rs. 10.00 Per Min</p>
                                <p class="text">Rs. 10.00 Per Min</p>
                            </div>
                        </td>
                        
                        <td>
                            <a href="#" class="action_btn"><i class=" fa fa-pen"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Jahanvi Kapoor</td>
                        <td>
                            <div class="service_table">
                                <i class="fa fa-message"></i>
                                <i class="fa fa-phone"></i>
                                <i class="fa fa-video"></i>
                            </div>
                        </td>
                        <td>
                            <div class="prices">
                                <p class="text">Rs. 10.00 Per Min</p>
                                <p class="text">Rs. 10.00 Per Min</p>
                                <p class="text">Rs. 10.00 Per Min</p>
                            </div>
                        </td>
                        
                        <td>
                            <a href="#" class="action_btn"><i class=" fa fa-pen"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Jahanvi Kapoor</td>
                        <td>
                            <div class="service_table">
                                <i class="fa fa-message"></i>
                                <i class="fa fa-phone"></i>
                                <i class="fa fa-video"></i>
                            </div>
                        </td>
                        <td>
                            <div class="prices">
                                <p class="text">Rs. 10.00 Per Min</p>
                                <p class="text">Rs. 10.00 Per Min</p>
                                <p class="text">Rs. 10.00 Per Min</p>
                            </div>
                        </td>
                        
                        <td>
                            <a href="#" class="action_btn"><i class=" fa fa-pen"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>     

        </div>
    </div>
</div>
{{> footer-script }}