<header>
    <div class="header">
        <div class="container">
            <nav>
                <a href="#" class="logo">
                    <img src="/images/emotional-logo.png" alt="">
                    <!-- <p class="logo_name">Emotional Touch</p> -->
                </a>
            </nav>
        </div>
    </div>
</header>